.lead{
    font-size: 1rem;
}

.container-fluid div nav div iframe{
    max-height: 80%;
    margin: auto;
}

nav table{
    max-width: 80%;
    margin: auto;
}

div section img{
    max-height: 225px;
}