.lead{
    font-size: 1rem;
}

.container-fluid div nav div iframe{
    max-height: 80%;
}

nav table{
    max-width: 80%;
    margin: auto;
}

div section img{
    max-height: 225px;
}

.formularioSocio{
    background-image: url(/img/Background.JPG);
    background-size: cover;
    border-radius: 15px;
    margin: 2rem;
}